.input__wrapper {
    display: flex;
    width: 100%;
}

.input {
    border-radius: 15px 0 0 15px;
    height: 2rem;
    width: 92%;
    border-right: none;
    padding: 0.5rem 0 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 18px;
}

.input__icon-wrapper {
    background: black;
    /* position: absolute; */
    width: 8%;
    padding: 0.8rem 1rem;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input__icon-wrapper:hover {
    background:darkgray;
    cursor: pointer;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (min-width: 1440px) {
    .input__wrapper {
        display: flex;
       max-width: 40%;
    }
    
}